html {
   margin: auto;
   width: 50%;
}

.centered {
   text-align: center;
   margin: auto;
   width: 50%;
}


.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
}