<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Pizza Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<h1>Witaj w...</h1>
<img th:src="@{/images/PizzaCloud.png}"/>
<h1>Przygotuj własną pizzę!</h1>

<form method = "POST" th:object="${design}">
    <div class="grid">
        <div class="ingredient-group" id="doughs">
            <h4>Wybierz rodzaj ciasta:</h4>
            <div th:each="ingredient : ${dough}">
                <input name="ingredients" type="radio" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">SKLADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="cheeses">
            <h4>Wybierz rodzaj sera:</h4>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">SKLADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="meats">
            <h4>Wybierz rodzaj mięsa:</h4>
            <div th:each="ingredient : ${meat}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">SKLADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h4>Wybierz rodzaj sosu:</h4>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">SKLADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h4>Wybierz rodzaj warzyw:</h4>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">SKLADNIK</span><br/>
            </div>
        </div>
    </div>

    <div>
        <h4>Nadaj nazwę przygotowanej pizzy:</h4>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button type="button" class="btn btn-outline-primary">Wyślij swoje zamówienie</button>
    </div>
</form>
</body>
</html>